html,body {
    overflow: hidden;
}

/* button and menu same height */
.btn-secondary {
    height: 8vh;
}

.navbar {
    height: 8vh;
}


/* Fix buttons layout */
.col-3 {
    height: 8vh;
}

.col-3 a {
    padding: 0;
}

/* Rows main layout */
.columns {
    float: left;
    box-sizing: border-box; }


/* Select page above menu */
.previous-next-container {
    margin-left: 45vh;
    margin-bottom: 1em;
    position: absolute;
    z-index: 10;
}

.svg-inline--fa{
    color: black;
}
.page-number {
    color: white;
    font-size: large;
}
div.last-page {
    color: white;
}

.current-page {
    height: 4vh;
    margin:0;
    padding:0;
}

.current-page::placeholder {
    font-size: x-large;
}
    
/* tooltip size */
.dash-table-tooltip {
    max-width: 500px !important;
}


/* Table */
tbody {
    float: right;
    padding-right: 3em;

}

.dash-table-container {
    min-width: 40% !important;
}

.cell-table > tbody {
    display:block !important;
    padding-left: 2em;
}

.cell-table {
    display:block !important
}

.row.row-1 {
    display:block !important;
}

.row.row-0 {
    
    display:block !important
}

tbody > tr{
    width:50%;
}